---
layout: default
---

<div class="home">
  <!-- Hero Section -->
  <section id="hero-section" class="container-fluid">
    <div class="hero-content container">
      <div class="col-md-6 col-md-offset-6">
        <h1>{{ site.headline }}</h1>
        <hr class="hr-splitter" />
        <p>{{ site.description }}</p>
        <span><a href="{{ site.github }}" title="View my GitHub"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></span>
        <span><a href="{{ site.linkedin }}" title="View my LinkedIn"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></span>
        <span><a href="{{ "production/images/resume-v02.pdf" | prepend: site.baseurl }}" title="View my resume"><i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i></a></span>
      </div>
    </div>
  </section>
  <!-- Projects Section -->
  <!-- <section id="project-section" class="container-fluid">
    <div class="project-section-content container">
      <div class="section-header row">
        <div class="col-xs-12 text-center">
          <hr />
          <h1>Projects</h1>
          <p>
            Projects I've worked on, working on, or conceptualizing.
          </p>
        </div>
      </div>
      <div class="project-block">
        <div class="row">
          {% for post in site.categories['projects'] | limit: 3 %}
          <div class="col-xs-12 col-md-4 project-block-details">
            <h2>{{ post.title }}</h2>
            {% for item in post.tech %}
              {% if forloop.last == true %}
                <span class="project-block-tags">{{ item | upcase }}</span>
              {% else %}
                <span class="project-block-tags">{{ item | upcase }},</span>
              {% endif %}
            {% endfor %}
            <hr />
            <p>{{ post.blurb }}</p>
            <a class="btn btn-primary" href="{{ post.url }}" title="View details about {{ post.title }}">View Project</a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-xs-12 text-center">
        <a href="{{ "projects/" | prepend: site.baseurl }}" class="btn btn-secondary">View More Projects</a>
      </div>
    </div>
  </section> -->
  <!-- Statistics Section -->
  <!-- <section id="facts-section" class="container-fluid">
    <div class="container">
      <div class="section-header row">
        <div class="col-xs-12 text-center">
          <h1>Statistics</h1>
          <p>
            Some simple stats on usability testing with this site.
          </p>
        </div>
      </div>
      <div class="section-content row">
        <div class="col-xs-12 col-md-4 text-center">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <h1>2 </h1>
            <p>users tested on this site.</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 text-center">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <h1>7</h1>
            <p>elapsed days since last usability test.</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 text-center">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <h1>27</h1>
            <p>Cups of coffee consumed while building this site.</p>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- Blog Section -->
  <!-- <section id="blog-section" class="container-fluid">
    <div class="blog-section-content container">
      <div class="section-header row">
        <div class="col-xs-12 text-center">
          <hr />
          <h1>Blog</h1>
          <p>
            Some thoughts, ideas, and rants.
          </p>
        </div>
      </div>
      <div class="blog-block">
        <div class="row">
          {% for post in site.categories['blog'] | limit: 3 %}
          <div class="col-xs-12 col-md-4 project-block-details">
            <h2>{{ post.title }}</h2>
            <hr />
            <p>{{ post.blurb }}</p>
            <a class="btn btn-primary" href="{{ post.url }}" title="View details about {{ post.title }}">Read More</a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-xs-12 text-center">
        <a href="{{ "blog/" | prepend: site.baseurl }}" class="btn btn-secondary">Read More Posts</a>
      </div>
    </div>
  </section> -->
  <!-- Contact Section -->
  <!-- <div id="contact-section" class="container-fluid">
    <div class="container">
      <div class="section-header row">
        <div class="col-xs-12 text-center">
          <hr />
          <h1>Let's Chat!</h1>
          <p>Honestly, the 2 best places to contact me.</p>
        </div>
      </div>
      <div class="section-content row">
        <div class="col-xs-12 col-md-6 text-center">
          <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
          <p>Email me at {{ site.email }}</p>
        </div>
        <div class="col-xs-12 col-md-6 text-center">
          <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
          <p>Send me a direct message on my <a href="{{ site.linkedin }}">LinkedIn</a></p>
        </div>
      </div>
    </div>
  </div> -->
</div>
