---
layout: default
---

<div class="home">
  <section id="hero-section" class="container-fluid">
    <div class="hero-content container">
      <div class="col-md-6 col-md-offset-6">
        <h1>{{ site.headline }}</h1>
        <hr class="hr-splitter" />
        <p>{{ site.description }}</p>
        <span><a href="{{ site.github }}" title="View my GitHub"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></span>
        <span><a href="{{ site.linkedin }}" title="View my LinkedIn"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></span>
        <span><a href="{{ "production/images/resume-v02.pdf" | prepend: site.baseurl }}" title="View my resume"><i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i></a></span>
      </div>
    </div>
  </section>
  <section id="project-section" class="container-fluid">
    <div class="project-section-content container">
      <div class="section-header row">
        <div class="col-xs-12 text-center">
          <hr />
          <h1>Projects</h1>
          <p>
            Projects I've worked on, working on, or conceptualizing.
          </p>
        </div>
      </div>
      {% for post in site.categories['projects'] | limit: 3 %}
      <div class="project-block">
        <div class="row">
          <div class="col-xs-12 col-md-6 text-right">
            <img src="{{ post.image }}" alt="{{ post.title }}" />
          </div>
          <div class="col-xs-12 col-md-4">
            <h2>{{ post.title }}</h2>
            {% for item in post.tech %}
              {% if forloop.last == true %}
                <span class="project-block-tags">{{ item | upcase }}</span>
              {% else %}
                <span class="project-block-tags">{{ item | upcase }},</span>
              {% endif %}
            {% endfor %}
            <hr />
            <p>{{ post.blurb }}</p>
            <a class="btn btn-primary" href="{{ post.url }}" title="View details about {{ post.title }}">View Project</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="container">
      <div class="col-xs-12 text-center">
        <a href="{{ "projects/" | prepend: site.baseurl }}" class="btn btn-secondary">View More Projects</a>
      </div>
    </div>
  </section>
  <section id="facts-section" class="container-fluid">
    <div class="container">
      <div class="section-header row">
        <div class="col-xs-12 text-center">
          <h1>Statistics</h1>
        </div>
        <div class="col-xs-12 col-md-6 text-center">
          <h1>25</h1> 
          <h3>Cups of coffee consumed while developing</h3>
        </div>
        <div class="col-xs-12 col-md-6 text-center">
          <h1>1</h1> 
          <h3>Usability Tests ran on this site.</h3>
        </div>
      </div>
    </div>
  </section>
</div>
