---
layout: default
---
  <!-- Hero Section -->
  <section class="container-fluid section landing-section">
      <div class="col-xs-12 text-center landing-content">
        <h1>{{ site.headline }}</h1>
        <h3>{{ site.description }}</h3>
        <div class="social-links">
          <span><a href="{{ site.github }}" title="View my GitHub"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a></span>
          <span><a href="{{ site.linkedin }}" title="View my LinkedIn"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a></span>
          <span><a href="{{ "production/images/resume-v03.pdf" | prepend: site.baseurl }}" title="View my resume"><i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i></a></span>
        </div>
        <div class="col-xs-12">
          <div class="bounce">
            <a class="shifter" href="#project-section"><i class="fa fa-arrow-circle-down fa-4x"></i></a>
          </div>
        </div>
      </div>
  </section>
  <!-- Projects Section -->
  <div id="project-section" name="project-section" class="container">
    <div class="row section-heading">
      <div class="col-xs-12 text-center">
        <h1>Projects</h1>
        <h4>Just some documented concepts, projects, and experiments.</h4>
      </div>
    </div>
    <div class="row section-content">
      {% for post in site.categories['projects'] limit:6 %}
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="project-box">
          {% if post.categories %}
            {% for cat in post.categories offset:1 %}
            <div class="category-header {% if cat == 'Development' %}development-cat{% elsif cat == 'Concept' %}concept-cat{% else %}design-cat{% endif %}">{{ cat }}</div>
            {% endfor %}
          {% endif %}
          <div class="project-box-content">
            <h3>{{ post.title }}</h3>
            <p>{{ post.blurb }}</p>
          </div>
          <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-primary">View Project</a>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row section-button">
      <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
        <a href="{{ "/projects" | prepend: site.baseurl }}" class="btn btn-primary">View More Projects</a>
      </div>
    </div>
  </div>

  <!-- Blog Section -->
  <!-- <section id="blog-section" class="container-fluid">
    <div class="blog-section-content container">
      <div class="section-header row">
        <div class="col-xs-12 text-center">
          <hr />
          <h1>Blog</h1>
          <p>
            Some thoughts, ideas, and rants.
          </p>
        </div>
      </div>
      <div class="blog-block">
        <div class="row">
          {% for post in site.categories['blog'] | limit: 3 %}
          <div class="col-xs-12 col-md-4 project-block-details">
            <h2>{{ post.title }}</h2>
            <hr />
            <p>{{ post.blurb }}</p>
            <a class="btn btn-primary" href="{{ post.url }}" title="View details about {{ post.title }}">Read More</a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-xs-12 text-center">
        <a href="{{ "blog/" | prepend: site.baseurl }}" class="btn btn-secondary">Read More Posts</a>
      </div>
    </div>
  </section> -->
  <!-- Contact Section -->
  <!-- <div id="contact-section" class="container-fluid">
    <div class="container">
      <div class="section-header row">
        <div class="col-xs-12 text-center">
          <hr />
          <h1>Let's Chat!</h1>
          <p>Honestly, the 2 best places to contact me.</p>
        </div>
      </div>
      <div class="section-content row">
        <div class="col-xs-12 col-md-6 text-center">
          <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
          <p>Email me at {{ site.email }}</p>
        </div>
        <div class="col-xs-12 col-md-6 text-center">
          <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
          <p>Send me a direct message on my <a href="{{ site.linkedin }}">LinkedIn</a></p>
        </div>
      </div>
    </div>
  </div> -->
