---
layout: page
title: Projects
permalink: /projects/
published: true
---

<!-- Projects Section -->
<section id="project-section" name="project-section" class="container-fluid">
	<div class="row">
		{% for post in site.categories['projects'] %}
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="project-box">
				{% if post.categories %}
					{% for cat in post.categories offset:1 %}
					<div class="category-header {% if cat == 'Development' %}development-cat{% else %}design-cat{% endif %}">{{ cat }}</div>
					{% endfor %}
				{% endif %}
				<div class="project-box-content">
					<h3>{{ post.title }}</h3>
					<p>{{ post.blurb }}</p>
				</div>
				<a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-primary">View Project</a>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
