<nav class="navbar navbar-default site-footer">
  <footer class="container-fluid">
    <div class="container text-center">
      <div class="col-xs-12 col-md-6">
        <p>{{ site.copyright }}</p>
      </div>
      <div class="col-md-6">
        <span><a href="{{ site.github }}" title="View my GitHub"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></span>
          <span><a href="{{ site.linkedin }}" title="View my LinkedIn"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></span>
          <span><a href="{{ "production/images/resume-v02.pdf" | prepend: site.baseurl }}" title="View my resume"><i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i></a></span>
      </div>
    </div>
  </footer>
</nav>
