/* Base Styling */
body {
	padding-bottom: 70px;
}
section {
	margin-bottom: 50px;
	.section-header {
		h1 {
			margin-bottom: 20px;
		}
	}
}
hr {
	width: 25%;
	height: 3px;
	border: none;
	background-color: rgb(255, 82, 82);
}

.fa {
	margin-right: 20px;
}

/* Header Styling */
.navbar-default {
	margin: 0;
	border-radius: 0;
	border: none;
	background-color: rgb(92, 100, 118);
	color: white;
	.navbar-brand {
		color: white;
	}
	.navbar-nav {
		li > a {
			color: white;
		}
	}
}

/* Hero Section Styling */
#hero-section {
	background-image: 
	linear-gradient(
	      rgba(92, 100, 118, 0.5),
	      rgba(92, 100, 118, 0.5)
	    ),
	url('/production/images/front-page.jpg');
	background-position: center;
	background-attachment: center;
	background-repeat: no-repeat;
	@include background-size(cover);

	color: white;
	height: 80vh;
	.hero-content {
		padding-top: 20%;
		a {
			color: white;
			&:hover {
				color: rgb(255, 82, 82);
			}
		}
		hr {
			margin-left: 0;
		}
	}
}
#facts-section {
	padding: 50px 0 70px 0;
	background-color: #ff5252;
	color: white;
	
	p {
		font-weight: 700;
	}
}

/* Projects section Styling */
.project-section-content {
	.section-header {
		margin-bottom: 70px;
		p {
			color: rgb(92, 100, 118);
		}
	}
	.project-block {
		margin-bottom: 75px;
		h2 {
			margin-top: 0px;
		}
		hr {
			margin: 7px	 0 10px 0;
		}
		.project-block-tags {
			font-weight: 700;
			color: rgb(92, 100, 118);
		}
	}
}

/* Footer Styling */
.site-footer {
	padding: 20px 0 20px 0;
	color: white;
	background-color: rgb(92, 100, 118);
	a {
		color: white;
		&:hover {
			color: rgb(255, 82, 82);
		}
	}
}

/* Post Styling */
.post-content {
	img {
		width: 100%;
	}
}

